/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
}
/* tag */
body{
    padding: 20px;
    padding-bottom: 150px;
}
/* class */
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.Diciframe{
    height:550 px;
    width:300 px;
}
